:root {
	--primary: blue;
	--secondary: #FAFAFA;
	--background: #FFFFFF;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Lora', 'Times new roman', serif;
}

body {
	background-color: var(--background);
}



main {
}

p,
pre,
code {
	line-height: 1.6;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}
a[href]:hover {
	text-decoration: underline;
}

header,
footer {
	padding: 1em;
}
#pagefooter {
	border-top: 1px solid #c3c3c3;
}

#page-title {
	top: 11px;
	z-index: 1050;
	pointer-events: none;
}

@media screen and (max-width:767px) {
	nav .social-icons {
	  padding: 20px 0;
	}
}

main {
	padding-bottom: 2em;
}

p + p {
	margin-bottom: 20px
}

p + iframe {
	margin-top: 30px;
}

.home-section {
	padding: 50px 0;
}

.home-section#music {
}

.home-section.text-white hr {
	border-top-color: #353535;
}

#worked-with img {
	max-width: 100px;
	margin: 15px;
}

div.bg-image {
	height: 80vh;
	min-height: 300px;
	max-height: 700px;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}


.section-title {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 500;
	margin-bottom: 65px;
	font-size: 2.8rem;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

blockquote.blockquote {
  font-size: 1.1em;
  margin: 30px auto;
  font-style: italic;
	/*color: #212529;
  padding: 15px 20px 15px 20px;
  border-left: 8px solid #ada7a7 ;
  position: relative;
  background:#EDEDED;*/
}

blockquote::before{
  /*
	content: "\201C";
  color:#d0d0d0;
	font-size: 90px;
	position: absolute;
	left: -2px;
	top: -6px;
	z-index: 0;
	*/
}
blockquote p {
	position: relative;
	z-index: 2;
}
blockquote::after{
  content: '';
}
blockquote cite {
  display: block;
  /*color: #333333;*/
  font-style: normal;
  font-weight: bold;
}

.blockquote footer {
	padding: 0;
	line-height: 1.3;
}
.blockquote-footer::before {
	display: block;
	height: 18px;
	margin-top: -5px;
}

img {
	max-width: 100%;
}

h1, h2, h3 {
	font-family: 'Lora', serif;
	font-weight: 300;
	margin-bottom: 30px;
}

header {
	margin-bottom: 100px;
}
/* Header Logo (style as h2) */
header h1 {
	display: block;
	font-size: 45px;
	line-height: 60px;
	margin: 10px 0;
	font-weight: 400;
	font-style: normal;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a, footer li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: white;
}




p img {
	box-shadow: 0 10px 24px rgba(0,0,0,.2);
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {

	padding: 2em 0;
}

form label {

}

input,
textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}
