<footer id="pagefooter" class="d-flex justify-content-between">
  <small>
    © Adam Kammerling {{ page.date.getFullYear() }} <br>
    This site was built with love by <a href="https://www.benkammerling.com">Ben Kammerling</a>.
  </small>
  {% include "components/social.njk" %}
</footer>
