<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
  <button id="navbarToggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav my-3 my-md-0">
      {% for entry in page_sections %}
       {% if entry.title %}
          <li class="nav-item">
            <a class="nav-link text-primary" href="#{{ entry.id }}" onclick="navClick()">{{ entry.title }}</a>
          </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% include "components/social.njk" %}
  </div>
</nav>
