<nav>
  <ul class="list-unstyled">

    <li>
      <a href="https://instagram/adam_kammerling" ><i class="fa fa-instagram"></i></a>
      <a href="https://instagram/adam_kammerling" ><i class="fa fa-twitter"></i></a>
    </li>

  </ul>
</nav>
