<div class="social-icons">
  <a class="mr-4" target="_blank" href="https://instagram.com/adam_kammerling" ><i class="fa fa-instagram"></i></a>
  <a class="mr-4" target="_blank" href="https://twitter.com/adam_kammerling" ><i class="fa fa-twitter"></i></a>
</div>
