<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<div class="d-flex justify-content-between">
				{% include "components/nav.njk" %}
				{% include "components/social.njk" %}
			</div>
			<div class="container mt-5">
				<div class="text-center">
					<h3>Meet {{ metadata.title }}</h3>
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<h1>{{ metadata.description }}</h1>
						</div>
					</div>
				</div>
			</div>
		</header>



		<main>
			{{ layoutContent | safe }}

			{% for page_section in page_sections %}
				{% for la_section in collections.home_sections %}
					{{ la_section.data.title }}
				{% endfor %}
			{% endfor %}

		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
