<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<div class="d-flex justify-content-between">
				{% include "components/nav.njk" %}
				{% include "components/social.njk" %}
			</div>
			<div class="container mt-5">
				<div class="text-center">
					<h3>Meet {{ metadata.title }}</h3>
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<h1>{{ metadata.description }}</h1>
						</div>
					</div>
				</div>
			</div>
		</header>



		<main>
			{{ layoutContent | safe }}

			{% for section in page_sections %}
				<section class="home-section" id="{{ section.id }}" style="background-color: #{{ section.bgcolor }};">
					<div class="container py-5">
						<h2 class="text-center section-title">{{ section.title }}</h2>
						<div class="row align-items-center">
							{% set colcount = section.cols | length %}
							{% for col in section.cols %}
							<div class="col-md-{{ 12/colcount }}">
								{{ col.body | mdFilter | safe }}
							</div>
							{% endfor %}
					</div>
				</div>
			</section>
			{% endfor %}

		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
